.footer{
    height: 100px;
    background: #fff;
    border-top: 1px solid #edf0f2
}

.updown {
    position: fixed;
    cursor: pointer;
    color: #fff;
    text-align: center;
    right: 15px;
    bottom: 15px;
    display: inline-block;
    z-index: 9;
    width: 40px;
    height: 40px;
    font-size: 11px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1px;
    background: #515769;
    border-radius: 3px;
    opacity: 0;
    transform: translate3d(50px,0,0);
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);    
}
.updown.updown_show{
    opacity: 0.4;
    transform: translate3d(0,0,0);
}
.updown:hover {
    opacity: 1;
}