/* logo */
.logo{
    font-size: 30px;
    font-weight: bold;
}
.logo>span{
    color: #17bed2;
}

@media (min-width: 768px){
    .navbar {
        border-radius: 0px;
    }    
    .navbar-brand {
        padding: 25px 15px;
        height: 70px;
    }
    .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .navbar-nav {
        float: right;
    }    
}
@media (max-width: 768px){
    .navbar {
        background: rgba(31, 33, 42, 0.75)!important;
        /* background: rgba(0, 0, 0, 0.36)!important; */
    }    
    .nav_a{
        color: #fff!important;
    }
    .nav>li>.nav_a {
        padding: 6px 15px;
        margin: 0 6px;
    }    
}
.navbar-default {
    background-color: #fff;
    border: none;
    /* border-bottom: 1px solid #edf0f2; */
    border-bottom: 1px solid rgba(255,255,255,.2);
    transition: all .3s cubic-bezier(.7,1,.7,1);
}
/* 手机端下拉按钮 */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
}
.navbar-default .navbar-toggle {
    border: none;
    margin-right: 5px;
}
.navbar-default .navbar-toggle .icon-bar {
    transition: all .3s cubic-bezier(.7,1,.7,1);
    transform-origin: center center;
}
.navbar-default .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    transform: rotate(45deg) translate(4.5px, 3.5px);
}
.navbar-default .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(3) {
    opacity: 0;
    transform: translateX(5px);
}
.navbar-default .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(4) {
    transform: rotate(-45deg) translate(5px,-4px);
}
.navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(2) {
    transform: unset;
}
.navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(3) {
    opacity: 1;
}
.navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(4) {
    transform: unset;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .nav_a{
    color: #fff;
    transition: all .3s cubic-bezier(.7,1,.7,1);
}
/* 当前导航状态 */
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background: transparent;
    position: relative;
    transition: all .3s cubic-bezier(.7,1,.7,1);
}
.navbar-default .navbar-nav>li:hover a::after{
    opacity: 1;
}
.navbar-default .navbar-nav>li>a::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 10px;
    height: 3px;
    border-radius: 4px;
    background: #17bed2;
    opacity: 0;
    transition-duration: .4s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);    
}
.navbar-default .navbar-nav>._active>a::after {
    opacity: 1;
}